@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /*.text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }*/
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-seasons), "Times New Roman", serif;
  } 
}

.font-display{
  font-family: var(--font-seasons), "Times New Roman", serif;
}

